<<<<<<< HEAD
{{> mainmenu _id="home" }}

<section class="ui raised segment">

  {{> donate }}

  <div class="ui  divider"></div>

  <div class="ui teal progress" data-percent="${progress}" id="mainprogress">
    <div class="bar"></div>
  </div>

=======
{{> mainmenu _id="home" }}

<section class="ui raised segment">

  {{> donate }}

  <div class="ui  divider"></div>

  <div class="ui teal progress" data-percent="${progress}" id="mainprogress">
    <div class="bar"></div>
  </div>

>>>>>>> d925544c520b1b816a6bbbc5949b1cc39ed58d9e
</section>