<<<<<<< HEAD
{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/homer.png" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Help Me Run Springfield</header>
      <p> Donate what you can now - No Bitcoins accepted! </p>
    </article>
  </div>
=======
{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/homer.png" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Help Me Run Springfield</header>
      <p> Donate what you can now - No Bitcoins accepted! </p>
    </article>
  </div>
>>>>>>> d925544c520b1b816a6bbbc5949b1cc39ed58d9e
</section>